@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro" , sans-serif;
}

:root{
    --bgOrange: #e84949;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo{
    width: 80px;
}
.logotext{
    margin-bottom: -0.2rem;
    margin-left: -1rem;
    font-size: 35px;
}

.logocontainer{
    display: flex;
    align-items: end;
}

.navitems{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.navitems div a{
    color: black;
}

a{
    text-decoration: none;
}

.navitems div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.navitems div:hover{
    font-weight: 600;
    transition: 0.2s;
}

.herosection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.fadedtext{
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    position: absolute;
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.heroleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.heroheading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.herosubheading{
    font-size: 45px;
    line-height: 45px;
}

.herodescription{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  
  .btn:hover::before {
    transform: scaleX(1);
  }
  
  .btn:hover {
    border: solid 3px #e84949;
    color: black;
  }

  .heroright{
    position: relative; 
  }
  
  .absolute{
    position: absolute;
  }

  .userImage{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
  }

  .userImage img{
    z-index: -9; 
  }

  @keyframes scaleImage {
    
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
    }

  }

  .iconDots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation:dots 5s linear infinite;
  }

  @keyframes dots {
    0%{
        transform: translateX(0px);
        transform: translateY(0px);
    }
    50%{
        transform: translateX(-15px);
        transform: translateY(-15px);
    }
    100%{
        transform: translateX(0px);
        transform: translateY(0px);
    }
  }

  .icon-cube{
    z-index: 10;
    right: 0;
    animation:cube 5s linear infinite;
  }

  @keyframes cube{
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
        transform: rotateY(360deg) translateY(0px);
    }
  }

  .icon-circle{
    z-index: 10;
    left: 0px;
    bottom: 0px;
    animation: shake 5s linear infinite;
  }

  @keyframes shake {
    0%{
        left: 0;
        bottom: 0;
    }
    50%{
        left: 5%;
        bottom: 10%;
    }
    100%{
        left: 0;
        bottom: 0;
    }
  }

  .iconZigZag{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: zigzag 5s ease-in infinite;
  }

  @keyframes zigzag {
    50%{
        left: 5%;
        top: 2%;
    }
  }

  .icon-plus{
    z-index: 5;
    top: -0.8rem;
    left: 50%;
    animation: effect 5s ease-in infinite;
  }

  @keyframes effect {
   50%{
    top: 4%;
    left: 48%;
   } 
  }

  .project-section{
      background-color: rgb(231, 231, 231);
      margin-top: 4rem;
  }

  .page-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
  }

  .project-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;

    gap: 120px;
  }

  .project-card{
    width: 90%;
    height: 550px;
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    z-index: 2;
  }

  .project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 1;
  }

  .project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #06114dae;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
  }

  .project-card:hover::before{
    transform: scaleX(1);
  }

  .project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    z-index: 5;
    opacity: 0;
  }
  .project-card:hover .project-number{
    opacity: 1;
    transition: all 0.4s;
  }

  .project-number-left{
    right:-40px;
    top: -45px;
  }

  .project-number-right{
    left:-40px;
    top: -45px;
  }

  .project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
  }

  .project-content-left{
    left: 20%;
  }

  .project-content-right{
    right: 20%;
  }

  .project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .project-skill{
    width: 40px;
  }

  .project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
  }

  .project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
  }

  .btn-group{
    display: flex;
    gap: 0.9rem;
    align-items: center;
  }

  .btnProject:hover{
    border: none;
  }

  .icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
  }

  .icon:hover{
    color: var(--bgOrange);
  }

  .project-card:hover .project-content{
    transform: scale(1.1);
  }

  #project1 {
    background-image: url(./images/projects/Project1.png);
    
  }
  
  #project2 {
    background-image: url(./images/projects/Project2.png);
    margin-left: 120px;
  }
  
  #project3 {
    background-image: url(./images/projects/Project3.png);
    
  }
  
  #project4 {
    margin-left: 120px;
    background-image: url(./images/projects/Project4.png); 
  }

  @media (max-width:1200px) {
    .page-header {
      padding-top: 30px;
      color: var(--bgOrange);
      text-align: center;
      font-size: 40px;
    }
    .project-container {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .project-card {
      width: 100%;
      height: 300px;
    }
    .project-card {
      background-size: cover;
      background-position: center;
    }
    .project-content {
      scale: 0.5;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .project-content-left {
      left: 0;
    }
    .project-heading {
      font-size: 40px;
      width: 100%;
    }
    .project-sub-heading {
      width: 100%;
    }
    #project2 {
      margin-left: 0;
    }
    #project4 {
      margin-left: 0;
    }
    .project-skill-container {
      width: 100%;
    }
    .project-skill {
      width: 35px;
    }
    .project-card:hover .project-number {
      display: none;
    }
    .project-card:hover .project-content {
      scale: 0.55;
    }
  }

  .skills-container{
    position: relative;
    display: flex;
    padding-bottom: 5rem;
    margin: 10rem auto;
    gap: 30px;
  }

  .skills-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .skills-container-right{
    display: flex;
    flex-direction: wrap;
    width: 50%;
    justify-content: center;
    position: relative;
    gap: 2rem;
  }

  .skill-fade-text{
    position: absolute;
    font-size: 13em;
    font-weight: bold;
    color: rgb(231, 231, 231);
    bottom: -39.5%;
    right: -8%;
    user-select: none;
    overflow-y: hidden;
  }

  .blob-style{
    position:absolute;
    top:45%;
    right: -4%;
    z-index:-5;
    transform:translate(-35%, -70%);
    animation: blobAnimate 3s linear infinite;
  }

  @keyframes blobAnimate {
    50%{
      top: 50%;
      right: 0%;
    }
  }

  .skills-logo{
    padding: 4px;
    width:90px;
    transition:all 0.5s;
  }
  
  .skills-logo:hover{
    transform:scale(1.2);
  }
  
  .skill-heading{
    font-size:50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
  }
  
  .caps{
    font-size:90px;
  }
  
  .skill-subHeading{
    margin-top: 3rem;
    width:85%;
    text-align: justify;
    line-height: 22px;
  }
  
  .skill-subHeading p{
    margin:15px 0;
  }

  .contactus-form-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
  }

  .contactus-heading{
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
  }

  .contactus-sub-heading{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
  }

  .contactus-form-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
  }

  .formfield-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    border: none;
    margin-top: 27px;
  }

  .formfield-textarea{
    height: auto;
    padding-top: 1rem;
  }

  #submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  #submit-btn:hover{
    scale: 0.9;
  }

  .submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
  }

  .footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
  }

  .footer-faded-text{
    position: absolute;
    left: 2%;
    bottom: 0%;
    color: #535c87;
    font-size: 5em;
    font-weight: bold;
  }

  .link-wrappper{
    position: absolute;
    top: 30%;
    left: 35%;
    display: flex;
    gap: 4.5rem;
  }

  .link-wrappper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
  }

  .link-wrappper div a:hover{
    color: red;
    text-decoration: none;
  }

  .icon-wrapper{
    display: flex;
    position: absolute;
    top: 25%;
    right: 10%;
    gap: 3rem;
  }

  .link-wrappper div i:hover{
    color: red;
    text-decoration: none;
  }

